
{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
 </div>
	
   
	<table>
  <tr>
  <div class="row">
    <div class="col-md-12">
     
	  
	   </tr>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
		
		<table>
		<h3><b>To do</h3></b>    
		                                                                                                   
		{%for item in view_model.items : %}
		<div>
				<br>
				
				<tr>{{item.name}}<tr>
		
		<p><b>Move from doing to done<p></b>
				<form action="/update" method="post">
					<input type="hidden" name="id" value="{{item.id}}">
					<input type="submit" value="Update to done">
				</form>
			</div>
		{% endfor %}
		<br>
		<p>Add To do Task<p>
    <form action="/create" method="POST">
        <input type="text" name="title" id="title" value="title" required>
        <input type="submit" value="Create">
    </form>
			</table>
			<table>
		<br><h3><b> Doing </h3></b>  
{%for doing in doing_objects: %}
		<div>
				<br>
				
				<tr>{{doing.name}}<tr>	
{% endfor %}<br>
			</table>
			<table id ="done-table"> 

			<br><h3><b>Done<br></h3>
<tr>{%for done in done_objects: %}<tr>   <br>
				<tr>{{done.name}}<div></tr> 
				 <form action="/update_back" method="post">
           <input type="hidden" name="n" value="{{done["id"]}}">
           <input type="submit" value="Return to To do">
           </form>	
		   <form action="/toggle_view" method="post">
			<input type="hidden" name="i" value="{{done["id"]}}">
			<input type="submit" value="Toggle">
			</form>	
		   </div>
{% endfor %}<br>			
		
   </table>
	
	
	
  </div>
{% endblock %}

