{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
 </div>
	
   
	<table>
  <tr>
  <div class="row">
    <div class="col-md-12">
     
	  
	   </tr>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
		
		
		To do                                                                                                       
		
		<tr>{% for listNumber in range(number) %}<tr>   
<br>		
	       <tr> {{jsonResponse[listNumber]["name"]}}<tr>
		 
   
</div>
		{% endfor %}
		<h1>Add To do Task</h2>
    <form action="/create" method="POST">
        <input type="text" name="title" id="title" value="title" required>
        <input type="submit" value="Create">
    </form>
		<br> Doing      
		<tr>{% for listNumberTwo in range(numberTwo) %}<tr>  <br>                   
	       <tr> {{jsonResponseDoing[listNumberTwo]["name"]}}<tr>
			{% endfor %}<br>
			<br>Done
			<tr>{% for listNumberThree in range(numberThree) %}<tr>   <br>                    
	       <tr> {{jsonResponseDone[listNumberThree]["name"]}}<tr>
			{% endfor %}
      
   <tr>
   
	
	</tr>
	<table>
  </div>
{% endblock %}